<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your HTML Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/static/assets/font-awesome/4.5.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css">
    <link rel="stylesheet" th:href="@{/static/admin/css/news.css}">
    <!-- jQuery -->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>

    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<!--    <script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/super-build/ckeditor.js"></script>-->
    <script th:src="@{/static/template/paging/jquery.twbsPagination.js}"></script>
    <script th:src="@{/static/admin/js/main.js}"></script>
<!--    <script th:src="@{/static/admin/js/aggregate.js}"></script>-->

</head>
<body>
    <style>
        #container {
            width: 100%;
            margin: 0 0 10px 0;

        }
        .ck-editor__editable[role="textbox"] {
            /* Editing area */
            min-height: 200px;
        }
        .ck-content .image {
            /* Block images */
            max-width: 80%;
            margin: 20px auto;
        }
        /*#container {
            width: 1000px;
            margin: 0 0 10px 0;

        }
        .ck-editor__editable[role="textbox"] {
            !* Editing area *!
            min-height: 200px;
        }
        .ck-content .image {
            !* Block images *!
            max-width: 80%;
            margin: 20px auto;
        }*/
    </style>
    <div th:fragment="main-content" class="container magin-top">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Danh sách bài viết
            </div>
            <div class="alert alert-success">
                <strong>Success!</strong>
            </div>
            <div class="alert alert-danger">
                <strong>Danger!</strong>
            </div>
            <div class="card-body">
                <div class="icon">
                    <a id="showFromAddNews">
                        <i class="fa-regular fa-square-plus showFromAddNews"></i>
                    </a>
                    <a id="deleteNews">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </div>
                <form id="formContainer" style="display: none">
                    <div class="form-group">
                        <label for="title">Title</label>
    <!--                    <input type="text" class="form-control" id="title" placeholder="">-->
                        <textarea class="form-control auto-height textarea" id="title" rows="1" placeholder=""></textarea>
    <!--                    <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="">-->
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <div id="container">
                            <div id="editor">
                            </div>
                        </div>
                        <!--<div class="centered">
                            <div id="editor">

                            </div>
                        </div>-->
                        <!--                    <input type="text" class="form-control" id="content" placeholder="">-->
                        <textarea class="form-control auto-height textarea" id="content" rows="3" style="display:none;" placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="shortDescription">shortDescription</label>
    <!--                    <input type="text" class="form-control" id="shortDescription" placeholder="">-->
                        <textarea class="form-control auto-height textarea" id="shortDescription" rows="1" placeholder=""></textarea>
                    </div>
                    <select id="categorySelect" class="form-select">
                        <!-- Dữ liệu từ API sẽ được thêm vào đây -->
                        <option value="" selected disabled>Chọn thể loại</option>
                    </select>

                    <div class="form-group">
                        <!-- Thẻ img để hiển thị ảnh đã chọn -->
                        <img id="displayThumbnail" class="displayThumbnail" src="" alt="Selected Thumbnail">
                    </div>

                    <div class="form-group">
                        <label for="thumbnail">Thumbnail</label>
                        <input type="file" class="form-control" id="thumbnail">
    <!--                    <button id="uploadButton" type="button" style="display: none">Upload Ảnh</button>-->
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
    <!--                <button type="submit" class="btn btn-primary">UPDATE NEWS</button>-->
                </form>

                <div class="overlay" id="overlay"></div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="checkAll"></th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>ShortDescription</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <ul class="pagination" id="pagination"></ul>

                <!-- Trường input ẩn để lưu URL của ảnh đã tải lên -->
                <input type="hidden" id="thumbnailUrl" name="thumbnailUrl" value="">
            </div>
        </div>
    </div>

    <script>
        /*CKEDITOR.ClassicEditor
            .create(document.getElementById("editor"), {
            // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
            toolbar: {
                items: [
                    'exportPDF','exportWord', '|',
                    'findAndReplace', 'selectAll', '|',
                    'heading', '|',
                    'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                    'bulletedList', 'numberedList', 'todoList', '|',
                    'outdent', 'indent', '|',
                    'undo', 'redo',
                    '-',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                    'alignment', '|',
                    'link', 'uploadImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                    'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                    'textPartLanguage', '|',
                    'sourceEditing'
                ],
                shouldNotGroupWhenFull: true
            },
            // Changing the language of the interface requires loading the language file using the <script> tag.
            // language: 'es',
            list: {
                properties: {
                    styles: true,
                    startIndex: true,
                    reversed: true
                }
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
            heading: {
                options: [
                    { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                    { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                    { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                    { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                    { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                    { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                    { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                ]
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
            placeholder: 'Welcome to content New',
            // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
            fontFamily: {
                options: [
                    'default',
                    'Arial, Helvetica, sans-serif',
                    'Courier New, Courier, monospace',
                    'Georgia, serif',
                    'Lucida Sans Unicode, Lucida Grande, sans-serif',
                    'Tahoma, Geneva, sans-serif',
                    'Times New Roman, Times, serif',
                    'Trebuchet MS, Helvetica, sans-serif',
                    'Verdana, Geneva, sans-serif'
                ],
                supportAllValues: true
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
            fontSize: {
                options: [ 10, 12, 14, 'default', 18, 20, 22 ],
                supportAllValues: true
            },
            // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
            // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
            htmlSupport: {
                allow: [
                    {
                        name: /.*!/,
                        attributes: true,
                        classes: true,
                        styles: true
                    }
                ]
            },
            // Be careful with enabling previews
            // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
            htmlEmbed: {
                showPreviews: true
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
            link: {
                decorators: {
                    addTargetToExternalLinks: true,
                    defaultProtocol: 'https://',
                    toggleDownloadable: {
                        mode: 'manual',
                        label: 'Downloadable',
                        attributes: {
                            download: 'file'
                        }
                    }
                }
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
            mention: {
                feeds: [
                    {
                        marker: '@',
                        feed: [
                            '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                            '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                            '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                            '@sugar', '@sweet', '@topping', '@wafer'
                        ],
                        minimumCharacters: 1
                    }
                ]
            },
            // The "superbuild" contains more premium features that require additional configuration, disable them below.
            // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
            removePlugins: [
                // These two are commercial, but you can try them out without registering to a trial.
                // 'ExportPdf',
                // 'ExportWord',
                'AIAssistant',
                'CKBox',
                'CKFinder',
                'EasyImage',
                // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
                // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
                // Storing images as Base64 is usually a very bad idea.
                // Replace it on production website with other solutions:
                // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
                // 'Base64UploadAdapter',
                'RealTimeCollaborativeComments',
                'RealTimeCollaborativeTrackChanges',
                'RealTimeCollaborativeRevisionHistory',
                'PresenceList',
                'Comments',
                'TrackChanges',
                'TrackChangesData',
                'RevisionHistory',
                'Pagination',
                'WProofreader',
                // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
                // from a local file system (file://) - load this site via HTTP server if you enable MathType.
                'MathType',
                // The following features are part of the Productivity Pack and require additional license.
                'SlashCommand',
                'Template',
                'DocumentOutline',
                'FormatPainter',
                'TableOfContents',
                'PasteFromOfficeEnhanced',
                'CaseChange'
            ]
        })
        .then(editor => {
            // Đoạn mã trong then được thực thi khi CKEditor đã được tạo thành công
            window.editor = editor;
        })
        .catch(error => {
            console.error('Đã xảy ra lỗi khi tạo CKEditor:', error);
        });*/
    </script>
</body>
</html>