<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/views/admin/head :: head}"></head>

<body class="sb-nav-fixed">
<nav th:replace="~{/views/admin/header :: header}"></nav>
<div id="layoutSidenav">
    <div th:insert="~{/views/admin/menu :: menu}"></div>
    <div id="layoutSidenav_content">
        <!--Loading-->
        <div id="loadingIndicator" style="display: none;">
            <img th:src="@{/static/assets/loading/Loading.png}" alt="Loading...">
        </div>

        <div class="overlay" id="overlay"></div>
        <main id="main-content" th:fragment="main-content">
            <div class="container-fluid px-4">
                <h1 class="mt-4">Thống kê và thông báo</h1>
                <!--<ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>-->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Thông báo bình luận</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">Xem chi tiết</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Bình luận được cảnh báo</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">Xem chi tiết</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Thông báo bài viết</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">Xem chi tiết</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Bài viết không duyệt</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">Xem chi tiết</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                        <!--List  bài viết không duyệt-->
<!--                        <div id="notApprovedPostsList" class="not-approved-posts-list"></div>-->

                    </div>
                </div>
                <div class="row" th:if="${roleCode == 'ADMIN'}" >
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Biểu đồ so sánh bài viết
                            </div>
                            <div class="card-body" style="margin-top: 38px;">
                                <canvas id="myAreaChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Biểu đồ thống kê bài viết
                            </div>
                            <div class="card-body">
                                <select id="timePeriod" class="datatable-selector">
                                    <option value="week">Tuần</option>
                                    <option value="month">Tháng</option>
                                    <option value="quarter">Quý</option>
                                </select>
                                <canvas id="myBarChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:insert="~{/views/admin/footer :: footer}"></footer>
    </div>
</div>
<!--<script>


    function loadNotApprovedPosts() {
        $.ajax({
            type: "GET",
            url: "http://localhost:8081/detailNotApprove",
            success: function (data) {
                // Xử lý dữ liệu trả về
                var listResult = data.listResult;
                if (listResult.length > 0) {
                    var html = "<ul>";
                    listResult.forEach(function (post) {
                        html += "<li>" + post.title + "</li>";
                    });
                    html += "</ul>";
                    // Hiển thị danh sách bài viết trong một cửa sổ hoặc tooltip
                    // Ở đây tôi giả sử sử dụng tooltip của Bootstrap
                    $('.card.bg-danger').tooltip({
                        title: html,
                        html: true,
                        trigger: 'manual',
                        placement: 'bottom'
                    }).tooltip('show');
                }
            },
            error: function (error) {
                console.error("Lỗi:", error);
            }
        });
    }
</script>-->
</body>
</html>