#displayThumbnail {
    display: none;
    /*Thay đổi giá trị tối đa theo ý muốn của bạn*/
    max-width: 300px;
    /*Thay đổi giá trị tối đa theo ý muốn của bạn*/
    max-height: 200px;
    /*Duy trì tỉ lệ khung hình*/
    width: auto;
    /*Duy trì tỉ lệ khung hình*/
    height: auto;
    margin-top: 20px;
    border-radius: 3px;
}