<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/static/assets/font-awesome/4.5.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jQuery -->
<!--        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script th:src="@{/static/template/paging/jquery.twbsPagination.js}"></script>
    <script th:src="@{/static/admin/js/phong_vien.js}"></script>
</head>
<body id="container">
<div th:fragment="main-content" class="container magin-top">
    <div class="card mb-4">
        <div class="card-header">
            <!--            <i class="fa fa-list-alt" aria-hidden="true"></i>-->
            <i class="fas fa-table me-1"></i>
            Danh sách chờ duyệt
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll"></th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>ShortDescription</th>
                    <th>Chi tiết</th>
                    <th>Duyệt</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <ul class="pagination" id="pagination"></ul>
        </div>
    </div>
</div>
</body>
</html>